*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.maincontainer {
    position: relative;
    text-align: center;
}
.mainimg {
    width: 100%;
    height: 650px;
    filter: sepia(40%);
    position: relative;
}
.textimg {
    font-size: 250%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
/* maincontent */
.maincontent {
    margin: 0;
    text-align: center;
}
.textsection, .imgsect {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    margin: 0;
}
.sectionbuttonlink :hover{
    background-color: grey;
    color: red;
}

.intro img {
    width: 45%;
    height: 100%;
    float: right;
    border-radius: 5px;
}
.img p {
    font-size: 1.3em;
    color: black;
    text-align: justify;
    padding: 5%;
    float: right;
    display: block;
}
.img {
    display: block;
}
.container {
    width: 90%;
    overflow: hidden;
    margin: 2em;
}
.sectionbuttonlink {
    text-decoration: none;
}
.sectionbutton {
    background: crimson;
    color: white;
    padding: 1em;
    text-align: center;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10%;
}
.textsection{
    padding: 8%;
    padding-left: 8%;
    text-align: center;
}
section 

/* image section */



/* navigation bar */
.topbar {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.titletext {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.textsect {
    padding-right: 8%;
    padding-left: 8%;
    text-align: center;
}
nav {
    width: 100%;
    height: 5%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
}
nav ul {
    display: flex;
    gap: 2rem;
}




